
body {
    font-family: 'Lora' !important;
    color: #6A645C !important;
}
nav {
    background-color: #fff !important;
    max-width: 1200px;
    margin: auto;
}
main {
    max-width: 1200px;
    margin: auto;
}

.logo-name {
    font-size: 1.5rem !important;
    font-weight: 500;
}
hr {
    max-width: 1200px !important;
    margin: auto !important;
}

.home-card {
    margin: 10px auto;
    background-color: #F2EEED !important;
    border: none !important;
}
.card {
    margin: 10px auto;
}

a {
    color: #A289A9 !important;
    text-decoration: none !important;

}
h1 {
    font-weight: 700 !important;
    font-size: 3.5rem !important;
}

h2 {
    font-weight: 500 !important;
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.2rem !important;
}

.poetry_items {
    max-width: 1200px !important;
    height: 380px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poem_img {
    height: 100%;

}

.navlinks.navbar-collapse {
    flex-grow: 0;
}
.btn {
    background-color: #A289A9 !important;
    color: #fff !important;
    border: 0px !important;

}

/* Back to top button styles */
.display-button {
    display: none;
}
#button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background: #A289A9;
    color: #fff;
    cursor: pointer;
    border: none; 
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
}
#button:hover {
    background: #6A645C;
  }
