body {
    font-family: 'Baskerville', serif !important;
    color: #000000 !important;
}
nav {
    background-color: #fff !important;
    max-width: 1200px;
    margin: auto;
}
main {
    max-width: 1200px;
    margin: auto;
}

.logo-name {
    font-size: 1.5rem !important;
    font-weight: 500;
}
hr {
    max-width: 1200px !important;
    margin: auto !important;
}

.home-card {
    margin: 10px auto;
    background-color: #F2EEED !important;
    border: none !important;
}
.card {
    margin: 10px auto;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add this line for drop shadow */
}

a {
    color: #506D8E !important;
    text-decoration: none !important;
}
h1 {
    font-weight: 600 !important; /* Semi-bold */
    font-style: italic !important; /* Italic */
    font-size: 3rem !important;
    color: #506D8E !important;

}

h2 {
    font-weight: 500 !important;
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.2rem !important;
}

.banner-image {
    max-width: 100%;
    margin: auto;
}

.grid-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.poetry_items {
    max-width: 1200px !important;
    height: 380px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poem_img {
    height: 100%;

}

.navlinks.navbar-collapse {
    flex-grow: 0;
}
.btn {
    background-color: #DBD4E4 !important;
    color: #000000 !important;
    border: 0px !important;
}

/* Back to top button styles */
.display-button {
    display: none;
}
#button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background: #DBD4E4;
    color: #000000;
    cursor: pointer;
    border: none; 
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
}
#button:hover {
    background: #6A645C;
  }

.newsletter-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #F2EEED;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newsletter-form .form-control {
    border: 1px solid #506D8E;
    border-radius: 5px;
    padding: 10px;
}

.newsletter-form .btn-primary {
    background-color: #506D8E;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.img-small {
    max-width: 300px;
    object-fit: fit;
}

.recent-poems {
  max-width: 100%;
}