
body {
    font-family: 'Lora' !important;
    color: #6A645C !important;
}
nav {
    background-color: #fff !important;
    max-width: 1200px;
    margin: auto;
}
main {
    max-width: 1200px;
    margin: auto;
}

.card {
    margin: 10px auto;
    background-color: #F2EEED !important;
    border: none !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 3rem !important;
}

h2 {
    font-size: 1.3rem !important;
}

h3 {
    font-size: 1rem !important;
}

.poetry_items {
    max-width: 1200px !important;
    height: 380px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poem_img {
    height: 100%;

}
